---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom CSS for page margins
.page__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

@media (max-width: 64em) {
  .page__content {
    padding: 0 1em;
  }
}
